<a href="https://colab.research.google.com/github/RPFey/XJTU_NEW/blob/main/python_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 数据结构

## List

参考 Python 官方 [API](https://docs.python.org/3/tutorial/datastructures.html)

In [ ]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
print(f"number of apples: {fruits.count('apple')}")
print(f"banana is at pos: {fruits.index('banana')}")

fruits.reverse()
print("fruits in : ", fruits)

fruits.sort()
print("Sort fruits : ", fruits)

number of apples: 2
banana is at pos: 3
fruits in :  ['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
Sort fruits :  ['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

### List as Stack

In [ ]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
print("stack is: ", stack)

stack.pop()
print("stack is: ", stack)

stack is:  [3, 4, 5, 6, 7]

## List as Queue

In [ ]:
from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()

print("Queue is ", queue)

Queue is  deque(['John', 'Michael', 'Terry', 'Graham'])

### Easier ways to create Lists

In [ ]:
squares1 = [x**2 for x in range(10)]
squares2 = list(map(lambda x: x**2, range(10)))

print("square1 is ", squares1)
print("square2 is ", squares2)

pairs = [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]
print("pairs is ", pairs)

square1 is  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
square2 is  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
pairs is  [(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

### Delete Elements

In [ ]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
print('a is: ', a)

del a[2:4]
print("a is: ", a)

a is:  [1, 66.25, 333, 333, 1234.5]
a is:  [1, 66.25, 1234.5]

## Sets

In [ ]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print("set is ", basket)                      
print('orange in basket? :', 'orange' in basket)                 # fast membership testing
print('crabgrass in basket? :', 'crabgrass' in basket)

a = set('abracadabra')
b = set('alacazam')
print("set a is: ", a)
print("set a - b is:", a - b)                              # letters in a but not in b
print("set a | b is : ", a | b)   
print("set a & b is : ", a & b)   
print("set a ^ b is : ", a ^ b)

set is  {'orange', 'apple', 'pear', 'banana'}
orange in basket? : True
crabgrass in basket? : False
set a is:  {'c', 'r', 'b', 'a', 'd'}
set a - b is: {'b', 'd', 'r'}
set a | b is :  {'l', 'c', 'r', 'm', 'b', 'a', 'z', 'd'}
set a & b is :  {'a', 'c'}
set a ^ b is :  {'l', 'r', 'z', 'm', 'b', 'd'}

## Dictionary

In [ ]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
print(tel)
print("id of jack is ", tel['jack'])
del tel['sape']
tel['irv'] = 4127
print(tel)
print("all the keys: ", list(tel))
print("guido is tel? ", 'guido' in tel)
print("sape is tel? ", 'sape' in tel)

{'jack': 4098, 'sape': 4139, 'guido': 4127}
id of jack is  4098
{'jack': 4098, 'guido': 4127, 'irv': 4127}
all the keys:  ['jack', 'guido', 'irv']
guido is tel?  True
sape is tel?  False

Other ways to create dictionary

In [ ]:
print(dict([('sape', 4139), ('guido', 4127), ('jack', 4098)]))
print({x: x**2 for x in (2, 4, 6)})

{'sape': 4139, 'guido': 4127, 'jack': 4098}
{2: 4, 4: 16, 6: 36}

## Enumeration

In [ ]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

for i in reversed(range(1, 10, 2)):
    print(i)

gallahad the pure
robin the brave
0 tic
1 tac
2 toe
What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

## Python Class

面向对象编程简介

* 类： 用来描述具有相同的属性和方法的对象的集合。它定义了该集合中每个对象所共有的属性和方法。对象是类的实例。

* 类变量：类变量在整个实例化的对象中是公用的。类变量定义在类中且在函数体之外。类变量通常不作为实例变量使用。

* 数据成员：类变量或者实例变量, 用于处理类及其实例对象的相关的数据。

* 方法重写：如果从父类继承的方法不能满足子类的需求，可以对其进行改写，这个过程叫方法的覆盖（override），也称为方法的重写。

* 局部变量：定义在方法中的变量，只作用于当前实例的类。

* 继承：即一个派生类（derived class）继承基类（base class）的字段和方法。

* 实例化：创建一个类的实例。

* 方法：类中定义的函数。

* 对象：通过类定义的数据结构实例。

In [ ]:
class Employee:
   '所有员工的基类'
   # 在所有类的实例中共享。类似于 C++ 中类的静态成员变量
   empCount = 0
 
   def __init__(self, name, salary):
      # self 代表类本身
      self.name = name # 属性
      self.salary = salary
      Employee.empCount += 1
   
   def displayCount(self): # 方法
     print("Total Employee %d" % Employee.empCount)
 
   def displayEmployee(self):
      print("Name : ", self.name,  ", Salary: ", self.salary)

employ1 = Employee("A", 100)
employ1.displayCount()

# 调用方法
employ2 = Employee("B", 200)
employ2.displayCount()
employ2.displayEmployee()

# 访问属性
print("Total Employee %d" % Employee.empCount)

Total Employee 1
Total Employee 2
Name :  B , Salary:  200
Total Employee 2

`self` 说明

In [ ]:
class Test:
    def prt(self):
        print(self)
        print(self.__class__)
        print(self.__class__.__name__)
 
t = Test()
t.prt()

print(isinstance(t, Test))

<__main__.Test object at 0x7f649a3dfd10>
<class '__main__.Test'>
Test
True

在类外修改属性

In [ ]:
hasattr(employ1, 'age')    # 如果存在 'age' 属性返回 True。
setattr(employ1, 'age', 8) # 添加属性 'age' 值为 8
getattr(employ1, 'age')    # 返回 'age' 属性的值
delattr(employ1, 'age')    # 删除属性 'age'

内置类的属性，定义的类都有以下这些奇奇怪怪的属性

In [ ]:
print(dir(employ1))

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'displayCount', 'displayEmployee', 'empCount', 'name', 'salary']

`__dict__` : 类的属性（包含一个字典，由类的数据属性组成）

`__doc__` :类的文档字符串

`__name__`: 类名

`__module__`: 类定义所在的模块（类的全名是'`__main__`.className'，如果类位于一个导入模块mymod中，那么className.`__module__` 等于 mymod）

`__bases__` : 类的所有父类构成元素（包含了一个由所有父类组成的元组）

In [ ]:
print("Employee.__doc__:", Employee.__doc__)
print("Employee.__name__:", Employee.__name__)
print("Employee.__module__:", Employee.__module__)
print("Employee.__bases__:", Employee.__bases__)
print("Employee.__dict__:", Employee.__dict__)

Employee.__doc__: 所有员工的基类
Employee.__name__: Employee
Employee.__module__: __main__
Employee.__bases__: (<class 'object'>,)
Employee.__dict__: {'__module__': '__main__', '__doc__': '所有员工的基类', 'empCount': 2, '__init__': <function Employee.__init__ at 0x7f649a39b440>, 'displayCount': <function Employee.displayCount at 0x7f649a39bef0>, 'displayEmployee': <function Employee.displayEmployee at 0x7f649a39bc20>, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>}

### Exercise

完成 Leetcode Problem1